*{
  margin: 0;
  /* border: solid green; */

}

#barra{
  background-color: #EFEFEF;
  /* border: solid blue; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center
}

/* logito{
  width: 4%;
  margin: 800%;
} */

a{
  margin: 15px;
}


/* main{
  background-color: rgb(227, 215, 76);
  width: 100%;
  height: 700px;
  border-radius: 10px;
  display: flex;
  margin-top: 8px;

} */

.muro{
  background-color: rgb(136, 113, 113);
  width: 100%;
  height: 700px;


}

#timeLine{
  background-color: aqua;
  border: solid yellow;
  width: 100%;
  height: 700px;
  /* margin-left: 30%; */
}

#postTitle{
  margin: 10px;

}

#post{
  width: 70%;
  margin: 10px;
  /* margin: 20%; */
  /* height: 70px; */
}

#containerPost{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  /* align-items:center ; */
}

#containerPost img{
  width: 10%;
  border-radius: 60%;
}

#titleComment, #descripComment{
  width: 200px;
  border: solid rgb(255, 0, 0);
  /* margin: 7px; */


}







section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}


/* REGISTRO Y LOGIN */

#logoPeruvian{
  margin: 17%;
  margin-top: 20%;
}

#logoPeruvianHome{
  width: 5%;
  margin-right: 40%;
}

#google{
  width: 8%;
}

#form{
  margin: 30%;
}



