*{
  margin: 0;
  /* border: solid green; */
}

#barra{
  background-color: #ffffff;
  /* border: solid blue; */
  /* box-shadow: 4px 1px 10px; */
  /* border: solid rgb(185, 184, 184); */
  list-style-type: none;
  appearance: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: sticky;
  position: fixed
}

#photoNameUser{
  display: flex;
  background: white;
  border-radius: 8px;
}

#btnComment{
  display: flex;
}

#iconDelete{
  width: 25px;
}

#NameUserPost{
  margin-top: 23px;
  margin-left: 10px;
  font-size: 24px;
}

#iconPhotoProfile{
  width: 19%;
  border-radius: 100px;
  margin: 17px;
  box-shadow: 4px 3px 14px 1px;
}

/* logito{
  width: 4%;
  margin: 800%;
} */

#containerProfile{
  /* display: flex; */
  background: linear-gradient(
    180deg,
    #d2bc2d 40%,
    #ffffff 0%
    /* rgba(172, 210, 253, 0.744792) 20%, */
    /* rgb(228, 192, 65) 40% */
    
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgba(214, 210, 210, 0.43); */
  margin: 13%;
  margin-top: 180px;
  height: 500px;
  width: 75%;
  border-radius: 30px;
  /* word-break:break-all; */
  /* word-wrap: break-word; */
  /* overflow: hidden; */
}

#userPhoto{
  width: 57%;
  border-radius: 140px;
  margin: 25px;
  /* margin: 10px; */
  /* margin: 50px; */
}

#userProfile{
  margin: 6%;
  font-size: xx-large;
  text-align: center;
}

#userEmail{
  font-size: x-large;
  margin: 2%;
  margin-left: 15px;
  word-break:break-all;
  text-align: center;
  /* margin: 0 0 1em 1em; */
  /* width: ; */
}

#bioProfile{
  display:none;
}

#barra a{
  margin: 15px;
  /* list-style-type: none;
  appearance: none; */
  list-style: none;
  text-decoration: none;
}

#barra a:hover{
  margin: 15px;
  /* list-style-type: none;
  appearance: none; */
  list-style: none;
  text-decoration: none;
  color: #d2bc2d;
}

#containerBarra{
  border: solid red;
}

body{
  background-image: url("./images/cocina_peruana_varios.webp");
  background-size: cover;
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  /* background-color: #e1c7c7; */
  width: 100%;
  height: 100vh;

}

/* #timeLine{
  background-color: aqua;
  border: solid yellow;
  width: 100%;
  height: 700px;
} */

#containerTitlePost{
  margin: 12px;
  background-color: #d8c54b;
  border-radius: 8px;
  box-shadow: 4px 0px 15px;
}

#postTitle{
  /* margin: 10px,50px,5px,5px; */
  margin: 5px;
  width: 94%;
  border-radius: 8px;
  border: solid white;
}

#post{
  width: 94%;
  /* height: 100px; */
  height: 10ch;
  margin: 5px;
  border-radius: 8px;
  border: solid white;
  /* margin: 20%; */
  /* height: 70px; */
}

#containerComment{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  /* box-shadow: 4px 0px 15px; */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: rgb(215, 77, 77); */
}

#iconPhoto{
  width: 13%;
  margin: 12px;
  border-radius: 60%;
  box-shadow: 4px 0px 15px;
}

#titleComment{
  /* font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #ffffff; 
    margin: 12px;
    width: 89%;
    box-shadow: 4px 0px 15px;
    height: 4px;
    padding: 20px; 
    border: 2px solid #ffffff;
    border: solid green; */
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: #f2f0e2; 
    margin: 12px;
    width: 80%;
    box-shadow: 4px 0px 15px;
    border-radius: 8px;
    /* height: 4px; */
    /* overflow: scroll;  */
    padding: 20px; 
    /* height: 140px; */
    border: solid #f2f0e2;
    /* border: solid green; */
}

#descripComment{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  text-align: justify;
  font-size: 18px; 
  font-weight: 400; 
  text-align: justify; 
  background: #ffffff; 
  margin: 12px;
  width: 80%;
  box-shadow: 4px 0px 15px;
  border-radius: 8px;
  /* height: 4px; */
  /* overflow: hidden;  */
  padding: 20px; 
  /* height: 200px; */
  border: 2px solid #ffffff;
}


#containerbtnPost{
  display: flex;
  flex-direction: row;
  margin: 15px;
  display: flex;
  justify-content: center;
}

#containerbtnPost button{
  
  margin: 7px;
  /* appearance: none; */
  background-color: #d2bc2d;
  border: solid #d2bc2d;
  /* background-color: #7de8f0;
  border: solid #7de8f0; */
  border-radius: 4px;
  box-shadow: 4px 0px 15px;
  width: 40%;
  height: 30px;
  /* font-weight: 500; */
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s; */
}

#containerbtnPost button:hover {
  /* background-color: #d2bc2d;  */
  /* background-color: #7de8f0;  */
  color: white;
  cursor: pointer;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#btnComment{
  display: flex;
}

.btn-like,
.btn-edit,
.btn-delete{
  width: 50%;
  margin: 5px;
  margin-bottom: 10px;
  /* background-color: #a1e7e7;
  border: #a1e7e7; */
  background-color: #d2bc2d;
  border: solid #d2bc2d;
  border-radius: 4px;
  box-shadow: 4px 0px 15px;
}

.btn-like:hover,
.btn-edit:hover,
.btn-delete:hover{
  /* width: 50%;
  margin: 5px; */
  /* background-color: #bbf0f0;
  border: #bbf0f0; */
  /* border-radius: 4px; */
  /* box-shadow: 4px 0px 15px; */
  cursor: pointer;
  background-color: #e4d36a;
  border: solid #e4d36a;
}

/* #btnIcon{
  width: 23%;
} */


/* REGISTRO Y LOGIN */

#logoPeruvian{
  margin: 17%;
  margin-top: 20%;
}

#logoPeruvianHome{
  width: 7%;
  margin-right: 40%;
}

/* #inputPassword{
  margin-top:;
} */

#userName{
  margin-top: 50px;
}

.containerLogin{
  display: flex;
  align-items: center;
  /* border: solid green; */
}

#form{
  margin-bottom: 80px;
  margin-left: 40px;
  margin-right: 40px;
  background: rgba(214, 210, 210, 0.43);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 430px;
}

#form h3{
  margin-top: 12px;
}

.messageText{
  /* margin-top: 40px; */
  font-size: large;
  margin-bottom: 20px;
  background-color: white;
  /* padding: 10px; */
}

#time-Line{
  /* border: solid brown; */
  /* width: 50%; */
  /* margin-left: 25%; */
  margin-top: 70px;
  /* align-items: center; */
}

@media only screen and (min-width:600px){
  /* LOGIN Y REGISTER */
  .containerLogin{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
  }

  #iconPhotoProfile{
    width: 10%;
    border-radius: 100px;
    margin: 17px;
    box-shadow: 4px 3px 14px 1px;
  }

  #NameUserPost{
    margin-top: 32px;
    margin-left: 10px;
    font-size: 28px;
  }

  #form{
    /* margin-bottom: 80px; */
    margin-top: 80px;
    background: rgba(214, 210, 210, 0.43);
    width: 32%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #nameApp{
    width: 340px;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Kameron';
    /* box-shadow: 4px 0px 25px; */
    margin-bottom: 120px;
  }

  #btnGoogle{
    /* position: absolute;
    width: 8%;
    left: 190px;
    top: 540px; */
    margin: 12px;
    width: 1%;
  }

  /* HOME */
  #logoPeruvianHome{
    width: 3%;
    margin-right: 78%;
  }

  #time-Line{
    /* border: solid brown; */
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    /* align-items: center; */
  }

  #containerComment{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    /* box-shadow: 4px 0px 15px; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    /* align-items:center ; */
    width: 50%;
    /* margin: auto; */
    /* border: solid beige; */
  }

  #titleComment{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #f2f0e2; 
    margin: 12px;
    width: 89%;
    box-shadow: 4px 0px 15px;
    border-radius: 8px;
    /* height: 4px; */
    /* overflow: scroll;  */
    padding: 20px; 
    /* height: 140px; */
    border: solid #f2f0e2;
    /* border: solid green; */
  }
  #descripComment{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    text-align: justify;
    font-size: 18px; 
    font-weight: 400; 
    background: #ffffff; 
    text-align: justify;
    margin: 12px;
    width: 89%;
    box-shadow: 4px 0px 15px;
    /* height: 4px; */
    /* overflow: scroll;  */
    padding: 20px; 
    /* height: 100px; */
    border: 2px solid #ffffff;
    max-width: 90%;
    border-radius: 8px;
    /* overflow-wrap: break-word; */
    /* border: solid green; */

  }

  /* PERFIL DE USUARIO */

  #containerUser{
    display: flex;
    justify-content: center;
  }

  #containerProfile{
    /* display: flex; */
    background: linear-gradient(
    180deg,
    #d2bc2d 40%,
    #ffffff 0%
    /* rgba(172, 210, 253, 0.744792) 20%, */
    /* rgb(228, 192, 65) 40% */
    
  );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgba(214, 210, 210, 0.43); */
    margin: 10% 0 0 28%;
    height: 400px;
    width: 45%;
    border-radius: 30px;
    /* border: solid green; */
  }

  #userPhoto{
    width: 25%;
    border-radius: 140px;
    margin: 20px;
    /* margin: 10px; */
    /* margin: 50px; */
  }

  #userProfile{
    margin: 4%;
    text-align: center;
  }


}

#containerPost{
  /* border: solid blue; */
}

#nameApp{
  width: 340px;
  font-size: 65px;
  text-align: center;
  text-shadow: 4px 0px 15px black;
  color: rgb(255, 255, 255);
  font-family: 'Kameron';
  /* font-family: "Nunito Sans", sans-serif; */
  margin-top: 80px;
}

#email{
  /* margin-top: 1px; */
  background: rgba(217, 217, 217, 0.25);
  border: 4px solid #FFFFFF;
  border-radius: 20px;
  height: 28px;
  width: 60%;
  font-size: 120%;
  font-style: italic;
  padding-left: 7px;
  margin-bottom: 17px;
}

#password{
  margin-top: 5px;
  background: rgba(217, 217, 217, 0.25);
  border: 4px solid #FFFFFF;
  border-radius: 20px;
  height: 28px;
  width: 60%;
  font-size: 120%;
  font-style: italic;
  padding-left: 7px;
}

#login{
  /* margin-bottom: 10px ; */
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 60%;
  height: 27px;
}

#register{
  margin-bottom: 20px;
  background-color: white;
  border: solid #ffffff;
  border-radius: 10px;
  color: #d2bc2d;
  width: 60%;
  height: 27px;
  cursor: pointer;
  /* box-shadow: 4px 0px 15px; */
}

#register:hover{
  /* width: 32%;
  height: 27px;
  background-color: #ffffff; 
  color: white; */
}

#btnGoogle{
  /* position: absolute;
  width: 8%;
  left: 190px;
  top: 540px; */
  margin: 8px;
  width: 8%;
}

.btns{
  /* font-family: 'Kameron';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: #403333;
  position: absolute;
  width: 173px;
  height: 34px;
  left: 124px; */
}

#inputUserName{
  /* margin-top: 121px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px; */
  margin: 0px 50px 30px 50px;
  background: rgba(217, 217, 217, 0.25);
  border: 4px solid #FFFFFF;
  border-radius: 20px;
  width: 60%;
  font-size: 120%;
  font-style: italic;
  padding-left: 7px;
  height: 28px;
}

#inputEmail{
  margin: 0 50px 30px 50px;
  background: rgba(217, 217, 217, 0.25);
  border: 4px solid #FFFFFF;
  border-radius: 20px;
  width: 60%;
  height: 28px;
  font-size: 120%;
  font-style: italic;
  padding-left: 7px;
}

#inputPassword{
  margin: 0 50px 50px 50px;
  background: rgba(217, 217, 217, 0.25);
  border: 4px solid #FFFFFF;
  border-radius: 20px;
  width: 60%;
  height: 28px;
  font-size: 120%;
  font-style: italic;
  padding-left: 7px;
}

#btnRegister{
  /* width: 60%;
  height: 28px;
  background-color: white;
  border: solid #ffffff;
  border-radius: 10px;
  margin: 0 50px 30px 50px; */
  margin-bottom: 20px;
  background-color: white;
  border: solid #ffffff;
  border-radius: 10px;
  /* color: #d2bc2d; */
  /* box-shadow: 4px 0px 15px; */
  width: 60%;
  height: 27px;
  cursor: pointer;
}

#btnIniciar{
  /* margin-top: 15px ; */
  /* margin-bottom: 180px; */
  margin: 0 50px 50px 50px;
  /* width: 60%;
  height: 280px;
  border-radius: 10px;
  background-color: white;
  border: solid #ffffff;
  color: #d2bc2d; */
  /* margin-bottom: 20px; */
  background-color: white;
  border: solid #ffffff;
  border-radius: 10px;
  /* color: #d2bc2d; */
  width: 60%;
  height: 27px;
  cursor: pointer;
}









